<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-row>
    <ion-col offset-md-3 col-md-6>
      <h1 class="center-text underline">Gallery</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="side-menu-list-col" offset-md-1 col-md-2>
      <ul class="side-menu-list">
        <li [class.active]="activeTab=='PREMISES'" (click)="tab('PREMISES')">
          SCHOOL PREMISES
        </li>
        <li [class.active]="activeTab=='SPORTS'" (click)="tab('SPORTS')">
          SPORTS
        </li>
        <li [class.active]="activeTab=='LIFE'" (click)="tab('LIFE')">
          SCHOOL LIFE
        </li>
        <li [class.active]="activeTab=='DOSA'" (click)="tab('DOSA')">
         DOSA
        </li>
      </ul>
    </ion-col>
    <ion-col col-md-8 *ngIf="activeTab=='PREMISES'">
      <ion-row col-md-12>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Administration</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/dadayatodd.jpg" (click)="openModal('todd')">
            <ion-card-content>
              <p>This is the iconic building at Dadaya high school. Its the adminstration building.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Church</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/church.jpg" (click)="openModal('church')">
            <ion-card-content>
              <p>This is the church building at school for the Church of Christ where students worship.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Classrooms</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/classrooms.jpeg" (click)="openModal('classrooms')">
            <ion-card-content>
              <p>These are the classrooms, where students learn from form one to form six</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Dinning hall</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/dh front.jpeg" (click)="openModal('dh')">
            <ion-card-content>
              <p>This is the dining hall where students get there meals.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Computer science</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/computer science block.jpeg" (click)="openModal('computer')">
            <ion-card-content>
              <p>This is the computer science laboratory for form one to form six.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Physics Block</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/physics block.jpeg" (click)="openModal('physics')">
            <ion-card-content>
              <p>The physics labarotory for form one to form six.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Chemistry Block</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/chemistry1.jpg" (click)="openModal('chemistry')">
            <ion-card-content>
              <p>The chemistry labarotory for form one to form six.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Girls Hostels</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/girls1.jpg" (click)="openModal('girls')">
            <ion-card-content>
              <p>These are girls hostel for form one to six.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Boys Hostels</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/dh back.jpeg" (click)="openModal('boys')">
            <ion-card-content>
              <p>These are boys hostel for form one to six.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Teachers Houses</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/teachershouse1.jpg" (click)="openModal('teachers')">
            <ion-card-content>
              <p>These are the houses where teachers live</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Main Gate</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/teachers block.jpeg" (click)="openModal('gate')">
            <ion-card-content>
              <p>This is the dadaya main entrance gate</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Directions Poster</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/poster.jpeg" (click)="openModal('poster')">
            <ion-card-content>
              <p>Dadaya direction poster to help navigate around the school.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col col-md-8 *ngIf="activeTab=='SPORTS'">
      <ion-row>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Volley</h2>
              <p>May, 2015</p>
            </ion-item>
            <img src="assets/imgs/sports/1.jpg">
            <ion-card-content>
              <p>Dadaya Girls makes it into provincial competitions</p>
            </ion-card-content>
          </ion-card>
        </ion-col>  
      </ion-row>
    </ion-col>

    <ion-col col-md-8 *ngIf="activeTab=='LIFE'">
      <ion-row>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Choir</h2>
              <p>August, 2016</p>
            </ion-item>
            <img src="assets/imgs/life/0.jpg">
            <ion-card-content>
              <p>Dadaya high choir</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Sunday morning</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/life/2.jpg">
            <ion-card-content>
              <p>Sunday morning at Dadaya High School after church.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Agriculture</h2>
              <p>November, 1996</p>
            </ion-item>
            <img src="assets/imgs/life/6.jpg">
            <ion-card-content>
              <p>Planting plants at agriculture lesson.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Playing</h2>
              <p>February, 2014</p>
            </ion-item>
            <img src="assets/imgs/life/7.jpg">
            <ion-card-content>
              <p>Enjoying life, as it is.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Cleaning</h2>
              <p>March, 2018</p>
            </ion-item>
            <img src="assets/imgs/life/8.jpg">
            <ion-card-content>
              <p>Cleaning the classes on a friday.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Social</h2>
              <p>November, 2017</p>
            </ion-item>
            <img src="assets/imgs/life/9.jpg">
            <ion-card-content>
              <p>Out and about.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Lesson</h2>
              <p>June, 1992</p>
            </ion-item>
            <img src="assets/imgs/life/10.jpg">
            <ion-card-content>
              <p>At a science lessson.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Boys Prefect</h2>
              <p>October, 2017</p>
            </ion-item>
            <img src="assets/imgs/life/11.jpg">
            <ion-card-content>
              <p>Boys alevel prefects at the hosstels.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col col-md-8 *ngIf="activeTab=='DOSA'">
      <ion-row>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Todd</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/0.jpg">
            <ion-card-content>
              <p>The founders of the school</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/2.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/3.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/4.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/4.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/6.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/7.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/8.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/9.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/10.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/11.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/12.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/13.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/14.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/15.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/16.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/17.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/18.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/19.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/20.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>DOSA</h2>
              <p>July, 2018</p>
            </ion-item>
            <img src="assets/imgs/dosa/21.jpg">
            <ion-card-content>
              <p>DOSA 2018 reunion at Dadaya High School.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <footer></footer>
</ion-content>