<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-row>
    <ion-col offset-md-3 col-md-6>
      <h1 class="center-text underline">Gallery</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="side-menu-list-col" offset-md-1 col-md-2>
      <ul class="side-menu-list">
        <li [class.active]="activeTab=='PREMISES'" (click)="tab('PREMISES')">
          SCHOOL PREMISES
        </li>
        <li [class.active]="activeTab=='SPORTS'" (click)="tab('SPORTS')">
          SPORTS
        </li>
        <li [class.active]="activeTab=='LIFE'" (click)="tab('LIFE')">
          SCHOOL LIFE
        </li>
        <li [class.active]="activeTab=='DOSA'" (click)="tab('DOSA')">
         DOSA
        </li>
      </ul>
    </ion-col>
    <ion-col col-md-8 *ngIf="activeTab=='PREMISES'">
      <ion-row col-md-12>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Administration</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/dadayatodd.jpg" (click)="openModal('todd')">
            <ion-card-content>
              <p>This is the iconic building at Dadaya high school. Its the adminstration building.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Church</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/church.jpg" (click)="openModal('church')">
            <ion-card-content>
              <p>This is the church building at school for the Church of Christ where students worship.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Classrooms</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/classrooms.jpeg" (click)="openModal('classrooms')">
            <ion-card-content>
              <p>These are the classrooms, where students learn from form one to form six</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Dinning hall</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/dh front.jpeg" (click)="openModal('dh')">
            <ion-card-content>
              <p>This is the dining hall where students get there meals.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Computer science</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/computer science block.jpeg" (click)="openModal('computer')">
            <ion-card-content>
              <p>This is the computer science laboratory for form one to form six.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Physics Block</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/physics block.jpeg" (click)="openModal('physics')">
            <ion-card-content>
              <p>The physics labarotory for form one to form six.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Chemistry Block</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/classroom front.jpeg" (click)="openModal('chemistry')">
            <ion-card-content>
              <p>The chemistry labarotory for form one to form six.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Girls Hostels</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/classroom front.jpeg" (click)="openModal('girls')">
            <ion-card-content>
              <p>These are girls hostel for form one to six.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Boys Hostels</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/dh back.jpeg" (click)="openModal('boys')">
            <ion-card-content>
              <p>These are boys hostel for form one to six.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Teachers Houses</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/teachers block.jpeg" (click)="openModal('teachers')">
            <ion-card-content>
              <p>These are the houses where teachers live</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Main Gate</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/teachers block.jpeg" (click)="openModal('gate')">
            <ion-card-content>
              <p>This is the dadaya main entrance gate</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Directions Poster</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/poster.jpeg" (click)="openModal('poster')">
            <ion-card-content>
              <p>Dadaya direction poster to help navigate around the school.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col col-md-8 *ngIf="activeTab=='SPORTS'">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
                DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
                DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
                DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col col-md-8 *ngIf="activeTab=='LIFE'">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
                DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
                DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
                DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col col-md-8 *ngIf="activeTab=='DOSA'">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
                DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
                DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
                DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <footer></footer>
</ion-content>