<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-row>
    <ion-col offset-md-3 col-md-6>
      <h1 class="center-text underline">Gallery</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="side-menu-list-col" offset-md-1 col-md-2>
      <ul class="side-menu-list">
        <li [class.active]="activeTab=='PREMISES'" (click)="tab('PREMISES')">
          SCHOOL PREMISES
        </li>
        <li [class.active]="activeTab=='SPORTS'" (click)="tab('SPORTS')">
          SPORTS
        </li>
        <li [class.active]="activeTab=='LIFE'" (click)="tab('LIFE')">
          SCHOOL LIFE
        </li>
      </ul>
    </ion-col>
    <ion-col col-md-8 *ngIf="activeTab=='PREMISES'">
      <ion-row col-md-12>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Administration block</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/todd.jpeg">
            <ion-card-content>
              <p>This is the iconic building at Dadaya high school.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Church</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/church.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Classrooms</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/classrooms.jpeg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Dinning hall (Back)</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/dh back.jpeg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Dinning hall (Front)</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/dh front.jpeg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Classrooms (Front)</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/classroom front.jpeg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Computer science block</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/computer science block.jpeg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Teachers Block</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/teachers block.jpeg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Physics Block</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/physics block.jpeg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-md-4>
          <ion-card>
            <ion-item>
              <h2>Directions Poster</h2>
              <p>August 5, 2018</p>
            </ion-item>
            <img class="base-image" src="assets/imgs/buildings/poster.jpeg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col col-md-8 *ngIf="activeTab=='SPORTS'">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col col-md-8 *ngIf="activeTab=='LIFE'">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-item>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <img src="assets/imgs/sample.jpg">
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>