<ion-col offset-md-3 col-md-6>
    <h1 class="center-text underline">Strategic Plan</h1>
</ion-col>
<ion-row col-md-12>
    <h2>Vision</h2>
    <p> Our vision at Dadaya High School is to to return Dadaya to its good old days, when it was the best school
        in the country and in southern Africa.
    </p>
</ion-row>
<ion-row col-md-12>
    <h2>Mission Statement</h2>
    <p>(Our mission) is to seek exceptionally promising students of all backgrounds from across the nation and around
        the world and to educate them, through mental discipline and social experience, to develop their intellectual,
        moral, civic, and creative capacities to the fullest
    </p>
</ion-row>
<ion-row col-md-12>
    <h2>Core Values</h2>
    <ion-row col-md-12>
        <ul>
            <li>Leading through innovation</li>
            <li>Excellence</li>
            <li>Growing by learning</li>
        </ul>
    </ion-row>
</ion-row>