<ion-col offset-md-3 col-md-6>
    <h1 class="center-text underline lower">Background</h1>
</ion-col>
<ion-col offset-md-2 col-md-8>
    <ul class="timeline">
        <li>
            <div class="tldate"> 1864</div>
        </li>
        <li>
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>History</h4>
                </div>
                <div class="tl-body">
                    <img src="/assets/imgs/Sherriff.jpg" alt="Sherriff">
                    <p>Sherriff and his traveling companions arrived in Bulawayo in the last hours of 1897. On the
                        second of January 1898 John Sherriff gathered together a few Europeans friends and spread
                        before them the Lord’s Supper. Thus was the beginning of Stone-Campbell Movement in Rhodesia.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="tldate">1950s</div>
        </li>
        <li class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Founders</h4>
                </div>
                <div class="tl-body">
                    <img src="/assets/imgs/dosa/0.jpg" alt="lorem pixel">
                    <p>Sherriff and his traveling companions arrived in Bulawayo in the last hours of 1897. On the
                        second of January 1898 John Sherriff gathered together a few Europeans friends and spread
                        before them the Lord’s Supper. Thus was the beginning of Stone-Campbell Movement in Rhodesia.</p>

                </div>
            </div>
        </li>
        <li>
            <div class="tldate">1990s</div>
        </li>
        <li>
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Early Days</h4>
                </div>
                <div class="tl-body">
                    <img src="/assets/imgs/life/10.jpg" alt="lorem pixel">
                    <p>John Sherriff began working as a stonemason during the day and at night soon found the opportunity
                        to commence a night school for some African boys, meeting twice a week from 7-9 pm in
                        his own small room. English was his subject the Bible was his textbook.</p>

                </div>
            </div>
        </li>
        <li>
            <div class="tldate">2000s</div>
        </li>
        <li class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Present Day</h4>
                </div>
                <div class="tl-body">
                    <img src="/assets/imgs/life/0.jpg"
                        alt="lorem pixel">
                    <p>It is said that Sherriff wrote enthusiastically to friends in Great Britain, Australia and
                        New Zealand about the missionary prospects in the area and in 1901 made a trip home to
                        the two latter nations; by his first hand account gained additional support. The Foreign
                        Missions Committee of New Zealand gave Sherriff money to erect a small brick building
                        that was used for a church and a school. Though in the initial phase of the work John
                        Sherriff faced several challenges he estimated that by 1904 he had baptized two whites,
                        six African women and 67 African men and youths.</p>

                </div>
            </div>
        </li> 
    </ul>
</ion-col>