page-home {
    .top-image{
        background-image: url(/assets/imgs/dadayatodd.jpg);
        background-repeat: no-repeat;
        background-size: cover;
       }
      
   .center-text{
       text-align: center;
   }
  
   h3{
    text-align: center;
    margin: 10px 
   }
   .main-process-row{
    color: white;
   }
   .process-row{
    padding-left: 15em;
    padding-right: 15em;
    background-color: #000d00;
    color: white;
   }
   .iconProcess{
    font-size: 8em;
    color: #095407;
    padding-left: 60px;
   }
   ion-label{
    white-space: normal;
   }
   .item p{
    font-size: 2rem;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 5em;
    margin-left: 5em;
   }
   @media only screen and (max-width: 550px) {
    .item p{
        margin-right: 0em;
        margin-left: 0em;
    }
    h1{
        margin-top: 1em !important;
    }
    .process-row{
        padding-left: 0;
        padding-right: 0;
       }
  }
}
