<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col class="side-menu-list-col" col-md-3>
      <ul class="side-menu-list">
        <li [class.active]="activeTab=='DASHBOARD'" (click)="tab('DASHBOARD')">
          <ion-row col-md-12>
            <ion-col class="side-menu-list-col" offset-md-5>
              <ion-icon name="stats"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row col-md-12>
            <ion-col class="side-menu-list-col" offset-md-4>
              DASHBOARD
            </ion-col>
          </ion-row>
        </li>
        <li [class.active]="activeTab=='EVENTS'" (click)="tab('EVENTS')">
          <ion-row col-md-12>
            <ion-col class="side-menu-list-col" offset-md-5>
              <ion-icon name="alert"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row col-md-12>
            <ion-col class="side-menu-list-col" offset-md-4>
              EVENTS
            </ion-col>
          </ion-row>
        </li>
        <li [class.active]="activeTab=='NOTICES'" (click)="tab('NOTICES')">
          <ion-row col-md-12>
            <ion-col class="side-menu-list-col" offset-md-5>
              <ion-icon name="notifications"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row col-md-12>
            <ion-col class="side-menu-list-col" offset-md-4>
              NOTICES
            </ion-col>
          </ion-row>
        </li>
      </ul>
    </ion-col>
    <ion-col class="side-menu-list-col" col-md-9>
      <ion-row col-md-12 *ngIf="activeTab=='DASHBOARD'">
        <ion-col offset-md-3 col-md-6>
          <h1 class="center-text underline">DASHBOARD</h1>
        </ion-col>
      </ion-row>
      <ion-row col-md-12 *ngIf="activeTab=='EVENTS'">
        <ion-col offset-md-3 col-md-6>
          <h1 class="center-text underline">EVENTS</h1>
        </ion-col>
        <ion-col col-md-12>
          <ion-row col-md-12>
            <ion-col col-md-12>
              <label>Name
                <em>*</em>
              </label>
            </ion-col>
            <ion-col col-md-12>
              <input>
            </ion-col>
          </ion-row>
          <ion-row col-md-12>
            <ion-col col-md-12>
              <label>Email
                <em>*</em>
              </label>
            </ion-col>
            <ion-col col-md-12>
              <input>
            </ion-col>
          </ion-row>
          <ion-row col-md-12>
            <ion-col col-md-12>
              <label>Phonenumber
                <em>*</em>
              </label>
            </ion-col>
            <ion-col col-md-12>
              <input>
            </ion-col>
          </ion-row>
          <ion-row col-md-12>
            <ion-col col-md-12>
              <label>Message
                <em>*</em>
              </label>
            </ion-col>
            <ion-col col-md-12>
              <textarea></textarea>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row col-md-12 *ngIf="activeTab=='NOTICES'">
        <ion-col offset-md-3 col-md-6>
          <h1 class="center-text underline">NOTICES</h1>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>