page-portal {
    .side-menu-list-col{
        .side-menu-list{
            background-color: #F0F0E9;
            height: 80em; 
            margin-top: 0;
        }            
    }
    .icon{
        font-size: 40px;
    }
}
