<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-row class="top-row top-image">
        <div class="layer">
            <h1 class="center-text main-heading">ABOUT US</h1>
        </div>
    </ion-row>
    <ion-row>
        <ion-col class="side-menu-list-col" offset-md-1 col-md-2>
            <ul class="side-menu-list">
                <li [class.active]="activeTab=='PRINCIPAL'" (click)="tab('PRINCIPAL')">
                    PRINCIPAL MESSAGE
                </li>
                <li [class.active]="activeTab=='STRATEGIC'" (click)="tab('STRATEGIC')">
                    STRATEGIC PLAN
                </li>
                <li [class.active]="activeTab=='BACKGROUND'" (click)="tab('BACKGROUND')">
                    BACKGROUND
                </li>
                <li [class.active]="activeTab=='STAFF'" (click)="tab('STAFF')">
                    STAFF DIRECTORY
                </li>
            </ul>
        </ion-col>
        <about-us-principal-tab col-md-8 *ngIf="activeTab=='PRINCIPAL'"></about-us-principal-tab>
        <about-us-strategic-tab col-md-8 *ngIf="activeTab=='STRATEGIC'"></about-us-strategic-tab>
        <about-us-background-tab col-md-8 *ngIf="activeTab=='BACKGROUND'"></about-us-background-tab>
        <about-us-staff-tab col-md-8 *ngIf="activeTab=='STAFF'"></about-us-staff-tab>
    </ion-row>
    <ion-row class=" address-row">
        <ion-row col-md-12>
            <ion-col class="address address-icons center-text" offset-md-3 col-md-6 offset-sm-3 col-sm-6>
                <h1 class="center-text">Dadaya High School</h1>
                <p> P. Bag 651</p>
                <p>Zvishavane, Midlands ,Zimbabwe</p>
                <p>
                    <ion-icon name="call"></ion-icon> +263-771-361-566, +263-712-021-040
                </p>
                <p>
                    <ion-icon name="mail"></ion-icon>
                    <a>info@dadayahigh.ac.zw</a>
                </p>
                <br>
            </ion-col>
            <ion-col class="address-icons center-text larger-icon" offset-md-3 col-md-6 offset-sm-3 col-sm-6>
                <a>
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a>
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a>
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
    </ion-row>
    <ion-row col-md-12 class="footer">
        <ion-col offset-sm-1>Copyright © Dadaya High Shcool 2018</ion-col>
        <ion-col offset-sm-5>Powered by DOSA</ion-col>
    </ion-row>
</ion-content>