.nav-bar{
    color: #000;
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: right;
    font-size: 1.2em;
    padding: 0em 3em;

    img.nav-logo{
        float: left;
        max-width: 3em !important;
        padding: 0em;
    }

    .nav-list{
        display: block;
        padding: .5em 1em;

        .nav-item{
            display: inline;
            padding: 1em;
            cursor: pointer;

            &:hover{
                color: #81ff81 !important;
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .col-sm-0 {
        display: none !important;
    }
  }
  
  @media only screen and (min-width: 550px) {
    .bar-button-default {
        display: none !important;
    }
  
    .col-md-0{
      display: none !important;
    }
  }