body{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    background-attachment: fixed;
}
a{
    cursor: pointer;
    color: #c25b4e;
}
.side-menu-list-col{
    margin-right: 1em;
}
.side-menu-list-horizontal{
    list-style: none;
    display: contents;
    font-size: 20px;
    li{
        padding: 3em;
        background-color: #32db64;
        border-right: 1px solid #fff;
    }
    li:hover{
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .active{
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
.side-menu-list{
    list-style: none;
    margin-top: 4em;
    background-color: #dedede;
    padding-bottom: 5em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    li{
        padding: 1em;
        border-bottom: 1px solid #fff;            
        border-radius: 2px;
    }
    li:hover{
        background-color: #fff;
        color: #c25b4e;
    }
    .active{
        background-color: #dedede;
        color: #c25b4e;
    }
}
.nav-bar{
    color: #000;
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: right;
    font-size: 1.2em;
    padding: 0em 3em;
    height: 4em;
    background-color: #fff;
    img.nav-logo{
        float: left;
        max-width: 4em !important;
        padding: 0em;
        cursor: pointer;
    }
    .nav-list{
        display: block;
        padding: .5em 1em;

        .nav-item{
            display: inline;
            padding: 1em;
            cursor: pointer;

            &:hover{
                color: #81ff81 !important;
            }
        }
    }
}
.address-icons ion-icon{
    color: #095407;
    margin-bottom: 5px;
   }
   .address-row{
    margin-bottom: 3em;
    border-top: 1px solid #dedede;
   }
   
.center-text{
    text-align: center;
}
.main-heading{
    color: #32db64;
    font-size: 50px;
   }
   .icon-main-color{
    color:#095407;
   }
.layer {
    background-color: rgba(50, 50, 50, 0.7);
    background-attachment: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.top-row{
    background-color: green;
     height: 50%;
}
.scroll-content{
    padding: 0 !important
}  
h1{
    margin-top: 1.5em !important;
    font-family: 'Crimson Text', serif;
    font-size: 36px;
    font-weight: 400;
    margin: 0 auto 30px auto;
    padding: 0 0 20px 0;
   
   }
   .underline{
    border-bottom: 10px solid #dedede;
   }
.main-top-row{
    background-color: green;
     height: 79%;
}
h2{
    color: #15c810;
    font-size: 25px !important;
   }
@media only screen and (max-width: 820px) {
    .col-sm-0 {
        display: none !important;
    }
    h2{
        color: #15c810;
        font-size: 2em;
        font-family: initial;
       }
  }
  
  @media only screen and (min-width: 820px) {
    .bar-button-default {
        display: none !important;
    }
  
    .col-md-0{
      display: none !important;
    }
  }