<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col offset-md-3 col-md-6>
      <h1 class="center-text underline lower">News</h1>
    </ion-col>
  </ion-row>
  <ion-row col-md-12>
    <ion-col class="main-tab-news" offset-md-1 col-md-8>
      <div *ngFor="let item of notices">
        <ion-row *ngIf="item.active && activeTab==item.id && noticeSelected">
          <ion-col>
            <ion-card>
              <img class="main-new-image" src="{{item.imageLocation}}">
              <ion-card-content>
                <h2 class="main-color">{{item.heading}}</h2>
                <br>
                <p>{{item.message}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
      <div *ngFor="let item of events">
        <ion-row *ngIf="item.active && activeTab==item.id && eventSelected">
          <ion-col>
            <ion-card>
              <img class="main-new-image" src="{{item.imageLocation}}">
              <ion-card-content>
                <h2 class="main-color">{{item.heading}}</h2>
                <br>
                <p>{{item.message}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
    <ion-col class="side-tab-news" col-md-3>
      <ion-card>
        <ion-segment class="segment-header" [(ngModel)]="activities">
          <ion-segment-button value="notices">
            Notices
          </ion-segment-button>
          <ion-segment-button value="events">
            Events
          </ion-segment-button>
        </ion-segment>
        <div class="activity" [ngSwitch]="activities">
          <ion-list *ngSwitchCase="'notices'">
            <div *ngFor="let item of notices">
              <ion-item text-wrap [class.activity-active]="activeTab==item.id" (click)="tabNotice(item.id)">
                <ion-thumbnail item-start>
                  <img src="{{item.imageLocation}}">
                </ion-thumbnail>
                <h3>{{item.heading}}</h3>
                <p>{{item.message}}</p>
              </ion-item>
            </div>
          </ion-list>
          <ion-list *ngSwitchCase="'events'">
            <div *ngFor="let item of events">
              <ion-item *ngIf="item.active" text-wrap [class.activity-active]="activeTab==item.id" (click)="tabEvent(item.id)">
                <ion-thumbnail item-start>
                  <img src="{{item.imageLocation}}">
                </ion-thumbnail>
                <h3>{{item.heading}}</h3>
                <p>{{item.message}}</p>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <footer></footer>
</ion-content>