page-projects {
    .top-image{
        background-image: url(/assets/imgs/life/10.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-project{
        height: 500px;
    }
}
