<ion-row class="address-row">
    <ion-row col-md-12>
        <ion-row col-md-12>
            <ion-col class="address address-icons center-text">
                <h1 class="center-text">Dadaya High School</h1>
                <p> P. Bag 651</p>
                <p>Zvishavane, Midlands ,Zimbabwe</p>
                <p>
                    <ion-icon name="call"></ion-icon> +263-771-361-566, +263-712-021-040
                </p>
                <p>
                    <ion-icon name="mail"></ion-icon>
                    <a>info@dadayahigh.ac.zw</a>
                </p>
                <br>
            </ion-col>
        </ion-row>

        <ion-row col-md-12 class="center-text">
            <ion-col class="address-icons center-text larger-icon">
                <a>
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a>
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a>
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
    </ion-row>
</ion-row>
<ion-row col-md-12 class="footer">
    <ion-col offset-sm-1 class="move">Copyright © Dadaya High Shcool 2018</ion-col>
    <ion-col offset-sm-5 class="move2">Powered by DOSA</ion-col>
</ion-row>