<ion-col offset-md-3 col-md-6>
    <h1 class="center-text underline lower">Staff Directory</h1>
</ion-col>
<ion-row col-md-12>
    <div col-md-4 *ngFor="let item of items">
        <ion-col *ngIf="item.active">
            <ion-card>
                <img style="height: 250px;" src="{{item.imageLocation}}">
                <ion-item text-wrap>
                    <h3>{{item.fullName}}</h3>
                    <br>
                    <div *ngFor="let option of options">
                        <p *ngIf="option.id===item.jobTitleId">{{option.name}}</p>
                    </div>
                    <br>
                    <p>
                        <ion-icon class="icon-main-color" name="call"></ion-icon> {{item.phonenumber}}
                    </p>
                    <p>
                        <ion-icon class="icon-main-color" name="mail"></ion-icon>
                        <a> {{item.email}}</a>
                    </p>
                </ion-item>
            </ion-card>
        </ion-col>
    </div>
</ion-row>