<ion-col offset-md-3 col-md-6>
    <h1 class="center-text underline lower">Staff Directory</h1>
</ion-col>
<ion-row col-md-12>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item text-wrap>
                <h3>Mr Shumba</h3>
                <p>Headmaster</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item text-wrap>
                <h3>Pastor Madwala</h3>
                <p>Chaplian</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item text-wrap>
                <h3>Mr Deputy</h3>
                <p>Deputy Headmaster</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
</ion-row>
<ion-row col-md-12>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item text-wrap>
                <h3>Mrs Senior</h3>
                <p>Senior Master</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item text-wrap>
                <h3>Mr Senior</h3>
                <p>Senior Master</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item text-wrap>
                <h3>Mr Teacher</h3>
                <p>Teacher</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
</ion-row>
<ion-row col-md-12>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item text-wrap>
                <h3>Mr Boarding</h3>
                <p>Boarding Master</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item text-wrap>
                <h3>Mrs Matron</h3>
                <p>Matron</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item text-wrap>
                <h3>Mr Caretaker</h3>
                <p>Caretaker</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
</ion-row>
<ion-row col-md-12>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item  text-wrap>
                <h3>Mr Boarding</h3>
                <p>Boarding Master</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item  text-wrap>
                <h3>Mr Guard</h3>
                <p>Guard</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
    <ion-col col-md-4>
        <ion-card>
            <img src="assets/imgs/sample.jpg">
            <ion-item text-wrap>
                <h3>Mr Dinning</h3>
                <p>Dinning Cooker</p>
                <p>
                    <ion-icon class="icon-main-color" name="call"></ion-icon> 0775314089
                </p>
                <p>
                    <ion-icon class="icon-main-color" name="mail"></ion-icon>
                    <a> info@dadayahigh.ac.zw</a>
                </p>
            </ion-item>
        </ion-card>
    </ion-col>
</ion-row>
